{% load mycrud_tags %}
<!-- start tugasan content -->
        <form method="POST"
                    class=""
                    hx-post="{% url 'crud-add-item' myconfig.id %}"
                    hx-target="#dokumen"
                    hx-swap="afterbegin"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    id="add_form"
                >

                    <div class="field">
                    <div class="control">
                        <input class="form-control" type="text" name="nama" placeholder="Add New Item ...">
                    </div>
                    </div>
                    <button class="btn btn-primary btn-small"><strong>ADD</strong></button>
        </form>


        <div id="modals-here"></div>
        <div id="tugas-notify"></div>

        <!-- Placeholder for the modal -->
        <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>

        <!-- Empty toast to show the message -->
        <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        </div>


        <table class="table table-hover my-0 table-sm">
            <thead>
                <tr>
                {% include myconfig.header_display %}
                </tr>
            </thead>
            
            <tbody id="dokumen">
                {% for todo in dokumen %}
            <tr id="baris-{{todo.id}}">
                {% include myconfig.data_fields %}
                <td>
                    <a class="badge bg-dark"
                    hx-get="{% url 'crud-detail' myconfig.id todo.id %}"
                    hx-target="#modals-here"
                    {% comment %} hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' {% endcomment %}

                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-detail">View</i></a>

                    <a class="badge bg-dark"
                    hx-get="{% url 'crud-edit' myconfig.id  todo.id %}"
                    hx-target="#modals-here"
                    {% comment %} hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' {% endcomment %}

                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-edit">Edit</i></a>

                    <a class="badge bg-danger"
                    hx-post="{% url 'crud-delete' myconfig.id  todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    
                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-x">Delete</i></a>

                    <button class="btn btn-primary btn-sm" hx-get="{% url 'edit_movie' pk=movie.pk %}" hx-target="#dialog">Edit</button>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    
<script>
    document.body.addEventListener('htmx:afterRequest', (event) =>{
        document.querySelector('input[name=nama]').value = '';
    });

    function closeModal() {
	var container = document.getElementById("modals-here")
	var backdrop = document.getElementById("modal-backdrop")
	var modal = document.getElementById("modal")

	modal.classList.remove("show")
	backdrop.classList.remove("show")

	setTimeout(function() {
		container.removeChild(backdrop)
		container.removeChild(modal)
	}, 200)
}

</script>