  
  <tr id="baris-{{todo.id}}">
   {% comment %} {% include "dokumen/partials/dokumen_data_listAll.html" %} {% endcomment %}
   {% include myconfig.data_addNew %}

    <td>
                    <a class="badge bg-dark"
                    hx-post="{% url 'crud-detail' myconfig.id todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'

                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-detail">View</i></a>

                    <a class="badge bg-dark"
                    hx-post="{% url 'crud-edit' myconfig.id todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'

                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-edit">Edit</i></a>

                    <a class="badge bg-danger"
                    hx-post="{% url 'crud-delete' myconfig.id todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    
                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-x">Delete</i></a>

                    
                </td>

  </tr>
