{% extends 'base.html' %}

{% block content %}

<div class="shadow-lg rounded-2xl bg-white dark:bg-gray-700 w-full">
    <p class="font-bold text-md p-4 text-black dark:text-white">
        Documents Details - SMaCH
        <span class="text-sm text-gray-500 dark:text-gray-300 dark:text-white ml-2">
        (31 Januari 2023)
        </span>
    </p>
    <div class="container py-3 px-3">
        List of Modules:

        <div>
    <ul>
        <li>Dokumen</li>
        <li>smach</li>
        <li>leluhur</li>
        <li>zafran</li>
        <li>zahrah</li>
    </ul>
        </div>
    </div>
    
</div>

{% endblock content %}