{% extends 'base.html' %}

{% block content %}

<div class="shadow-lg rounded-2xl bg-white dark:bg-gray-700 w-full">
    <p class="font-bold text-md p-4 text-black dark:text-white">
        Online Documents - Dashboard
        <span class="text-sm text-gray-500 dark:text-gray-300 dark:text-white ml-2">
        (31 Januari 2023)
        </span>
    </p>
    <section class="section">
<div class="row">
    <div class="col">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">Senarai Dokumen / Projek :</h5>

        <div hx-get="{% url 'crud-listAll' 0 %}" hx-trigger="load">
            <div id="crud_listAll">
                empty
            </div>
        </div>
            
        </div> <!--card body -->
		</div> <!--card -->
	</div> <!-- col -->
	</div> <!-- row -->
</section>
    
</div>

{% endblock content %}
