  
  <tr id="baris-{{todo.id}}">
    <td>{{todo.id}}</td>
    <td>{{todo.nama}}</td>
    <td><span>-</span></td>

    <td>
                    <a class="badge bg-dark"
                    hx-post="{% url 'crud-detail' app_name model_name todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'

                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-detail">View</i></a>

                    <a class="badge bg-dark"
                    hx-post="{% url 'crud-edit' app_name model_name todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'

                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-edit">Edit</i></a>

                    <a class="badge bg-danger"
                    hx-post="{% url 'crud-delete' app_name model_name todo.id %}"
                    hx-target="#modals-here"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    
                    data-bs-toggle="modal" data-bs-target="exampleModal"
                    ><i class="align-middle bx bx-x">Delete</i></a>

                    
                </td>

  </tr>
